﻿.outside_container {
    width: 650px;
    padding: 1em 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #333333;
}

.midctl {
    margin-left: 50px;
}

.leftgap100 {
    margin-left: 100px;
}

.leftgap150 {
    margin-left: 150px;
}

.lefttl {
    margin-left: 150px;
}

.midttl {
    margin-left: 200px;
}

/* Basic Page Layout */
form {
    border: 2px solid #CCCCCC;
    border-radius: 6px;
    width: 650px;
    margin: auto;
    height: 100%;
    padding: 20px 10px;
    font-family: 'Century Gothic',CenturyGothic, AppleGothic, sans-serif;
    font-size: 12px;
}

    form div, form span.label {
        margin-top: 15px;
    }

.logo {
    margin: auto;
    display: block;
}

.segment_header {
    margin: 1px;
    color: #FFFFFF;
    background: #EE0000;
    width: auto;
    background-repeat: repeat;
    border-radius: 6px;
    background-size: cover;
    background-position: 50% 50%;
    text-align: Center;
}

    .segment_header h1 {
        background: #FF0000;
        font-weight: bold;
        font-size: 24px;
        color: white;
        padding: 20px 10px;
        border-radius: 6px;
    }

.segment {
    margin-bottom: 20px;
}

label, .stockTable caption, .label, .radio {
    display: block;
    font-weight: bold;
    min-height: 1.5em;
}

    label::after, .label::after, .stockTable caption::after {
        content: ":";
    }

.no-colon::after {
    content: "";
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li input {
    margin: 5px;
}

ul li label {
    display: inline;
    font-weight: initial;
}

    ul li label::after {
        content: "";
    }


.radio {
    margin-top: 2px;
}

    .radio label, .radio input {
        display: inline;
        font-weight: normal;
        padding: 5px;
    }

        .radio label::after {
            content: none;
        }

input {
    border: 1px solid #CCCCCC;
    margin: 1px 0;
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
}

textarea {
    width: 99%;
    resize: vertical;
}

input[type="radio"] {
    vertical-align: middle;
}

.otherOption {
    top: -25px;
    left: 75px;
    position: relative;
    display: inline;
}

input[type="submit"] {
    margin: 10px auto;
    padding: 10px 100px;
    background-color: #FFCC00;
    font-weight: bold;
    font-size: 20px;
    display: block;
    border-radius: 5px;
    border-color: #999999;
}

#divStockProvided .section {
    border-bottom: black solid 2px;
    padding-bottom: 10px;
}

#divStockProvided ul {
    display: inline-flex;
}
/* Stock Tables */
.stockTable {
    border: none;
    border-color: #AAAAAA;
    display: inline;
    margin-right: 40px;
}

    .stockTable caption {
        display: table-caption;
        text-align: left;
    }

    .stockTable .headerRow {
        background-color: #E6E6E6;
    }

        .stockTable .headerRow th {
            padding: 5px;
            border: none;
        }

    .stockTable tr .headerCell {
        background-color: #F2F2F2;
        border-left: none;
    }

    .stockTable td {
        border-right: none;
    }

/* End Stock Tables */

/* Stock Radio */

#divStockProvided .radio {
    display: inline;
}

.stockRadio {
    display: inline-block;
    margin-right: 25px;
    margin-top: 0;
}

.stockRadio input[type="radio"], #bagGiven input[type="radio"] {
    margin-right: 10px;
}

/* End Stock Radio */
